.ordem-compra {
    margin-top: 50px;
    margin-bottom: 150px;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}
input.ng-valid.ng-touched {
    border: 2px solid green; 
}

select.ng-invalid.ng-touched {
    border: 2px solid red;
}

select.ng-valid.ng-touched {
    border: 2px solid green; 
}